@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }


  .slideRight{
    animation: 1.5s ease-out 0s 1 slideInFromLeft
  }

  .slideLeft{
    animation: 1.5s ease-out 0s 1 slideInFromRight

  }