.App {
  text-align: center;
}
html{
  background: linear-gradient(to right bottom, #430089, #82ffa1); 
}
body{
  background: linear-gradient(to left top,#82ffa1, #430089); 
}
/* @media (min-width: 544px) {  
  p {font-size:11px;}
} */

/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  p {
      font-size: 11px ;
  }
} */
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  p {
      font-size: 20px ;
  }
} */
/* @media only screen and (max-device-width : 1024px) {
  p{
       font-size: 25px ;
   }
} */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  p{
      font-size: 11px !important;
  }
} */

body { 
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


.slideRight{
  animation: 1s ease-out 0s 1 slideInFromLeft
}

.slideLeft{
  animation: 1s ease-out 0s 1 slideInFromRight

}
.headerSlideRight{
  animation: 3s ease-out 0s 1 slideInFromLeft
}

.headerSlideLeft{
  animation: 3s ease-out 0s 1 slideInFromRight

}